<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <div id="footerButtons" class="d-flex justify-content-between">
                <i id="homeFooter" class="faButton fas fa-home"></i>
                <i id="searchFooter" class="faButton fas fa-search"></i>
                <i id="postFooter" class="faButton fas fa-plus"></i>
                <i id="notificationsFooter" class="faButton fas fa-bolt"></i>
                <i id="profileFooter" class="fas fa-user"></i>
            </div>
        </span>
    </div>
</footer>