<nav id="topnav" class="navbar">

    <i id="profilePicture" class="fas fa-user"></i>

    <a id="title" class="navbar-brand" href="#">PHOTOJENIA</a>

    <div class="d-flex justify-content-end">
        <i id="home" class="faButton fas fa-home"></i>
        <i id="search" class="faButton fas fa-search"></i>
        <i id="notifications" class="faButton fas fa-bolt"></i>
        <i id="post" class="faButton fas fa-plus"></i>
    </div>

</nav>