<nav id="topnav" class="navbar">
    <button id="profilePicture" ></button>
    
    <a id="title" class="navbar-brand" href="#">PHOTOJENIA</a>

    <div class="d-flex justify-content-end">
        <button id="home" class="navButton"></button>
        <button id="search" class="navButton"></button>
        <button id="notifications" class="navButton"></button>
        <button id="post" class="navButton"></button>
    </div>

</nav>