<nav id="topnav" class="navbar">

    <a href="/api/myprofile"><i id="profilePicture" class="fas fa-user fa-cog"></i></a>

    <a id="title" class="navbar-brand" href="#">INSIDER</a>

    <div class="d-flex justify-content-end">
        <a href="/"><i id="home" class="faButton fas fa-home fa-cog"></i></a>
        <a href="/"><i id="search" class="faButton fas fa-search fa-cog"></i></a>
        <a href="/"><i id="notifications" class="faButton fas fa-bolt fa-cog"></i></a>
        <button><i id="post" class="faButton fas fa-plus fa-cog"></i></button>
    </div>

</nav>