<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        {{!-- This part may have to be created in javascript 
        using jQuery but theoretically this is where the posts 
        would show --}}
        
        <div>
          <span id="profile-picture"></span>
        </div>

        <div>
          <span id="post"></span>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>