body {
  background-color: rgb(54, 48, 48);
  color: white;
}

/* @media (max-width:639px) {

} */
#profile-picture {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline;
}
@media (max-width: 767px) {
  .navButton {
    display: none;
  }

  #topnav {
    display: flex;
    background-color: rgb(54, 48, 48);
    border-bottom: white 3px solid;
    margin-left: 
  }

  #title {
    color: white;
    font-size: 30px;
  }

  #profilePicture {
    display: none;
  }
}

@media (min-width: 768px) {
  #topnav {
    display: flex;
    background-color: rgb(54, 48, 48);
    border-bottom: white 3px solid;
  }

  #title {
    color: white;
    font-size: 30px;
  }

  .navButton {
    height: 30px;
    width: 50px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #profilePicture {
    height: 30px;
    width: 50px;
    margin-left: 20px;
  }
}

@media (min-width: 980px) {}